@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: #f6fffd;
  padding: 30px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topic {
    color: #009688;
    padding: 5px;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }

.select {
  display: flex;
  background: #fff;
  padding: 30px;
  max-width: 800px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.sel-date {
    width: 400px;
  padding: 20px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.label,
.input {
  display: block;
  width: 100%;
}

.label {
  padding-bottom: 3px;
  font-size: 0.9rem;
  color: #263238;
}
.input {
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #009688;
}

.sel-hour {
    padding: 20px;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
