body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Prompt;
  background-color: #f6fffd;
}
.wrapper {
  width: 80%;
}
.card-container {
  display: flex;
  flex-flow: wrap;
}
.topic {
  color: #00bfa5;
  padding: 5px;
  font-weight: bold;
  font-size: 26px;
}

/* sel-time */
.sel {
  padding: 5px;
}
.sel .seldate {
  display: flex;
  flex-direction: column;
}
.sel .seldate input {
  border-color: #009688;
  border-radius: 10px;
  margin-bottom: 20px;
}
.sel {
  display: flex;
  flex-direction: row;
}
.sel .selhour {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-flow: wrap;
}
