body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Prompt;
  background-color: #f6fffd;
  padding: 30px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.wrapper {
  width: 600px;
}
.seltime {
  background-color: #c4c4c4;
  padding: 5px;
}
.topic {
  background-color: #2e2d2d;
  color: white;
  padding: 5px;
}
.seltime {
  display: flex;
  flex-direction: row;
}
.seltime .selhour {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-flow: wrap;
}
