body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Prompt;
}
.labcard {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #c4c4c4;
  margin: 10px;
}

.labcard .cardhead {
  background-color: #2e2d2d;
  color: white;
}

.labcard button {
  font-family: Prompt;
  background-color: #59fd3e;
  border: 0px;
}
