@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ipsum fuga vero ipsam, laborum labore nam tempora
        maxime cupiditate debitis sunt illum est repudiandae libero a tenetur qui, praesentium aspernatur?</p>
</div>
